{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["emotion", { "inline": true }],
    ["module-alias", [
      { "src": "./components", "expose": "COMPONENTS" },
      { "src": "./style", "expose": "STYLE" }
    ]]
  ]
}
